---
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title><%= config[:site_title] %></title>
    <description><%= config[:site_description] %></description>
    <link><%= config[:site_url] %></link>
    <atom:link href="<%= config[:site_url] %>/feed.xml" rel="self" type="application/rss+xml"/>
    <% blog.articles.first(20).each do |article| %>
    <item>
      <title><%= article.title %></title>
      <description><%= article.data[:description] || '' %></description>
      <pubDate><%= article.date.to_time.rfc2822 %></pubDate>
      <link><%= config[:site_url] %><%= article.url %></link>
      <guid isPermaLink="true"><%= config[:site_url] %><%= article.url %></guid>
    </item>
    <% end %>
  </channel>
</rss>
